$footerHeight: 120px;

// Color Declaration.
#footer {
	background-color: #dedede;
}
#footer-copyright {
	color: #dedede;
	background-color: #333;
}

// Structure
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: $footerHeight;

}

#footer-copyright {
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
	text-align: center;
}

//reserve body space for footer. 
body {
	padding-bottom: $footerHeight;
}