// Media Query 
$mediaMicro: "only screen and (min-width: 280px)";
$mediaMobile: "only screen and (min-width: 320px)";
$mediaMobileLarge: "only screen and (min-width: 375px)";
$mediaMobileXLarge: "only screen and (min-width: 425px)";
$mediaTablet: "only screen and (min-width: 767px)";
$mediaTabletLarge: "only screen and (min-width: 900px)";